{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>
    <form action="/search" method="GET">
        <input type="text" name="query">
        <input type="submit" value="Search" class="submit">
    </form>

    {% for message in messages %}
        <div class="container">
            <div class="tweet">
                <div class="user-info">
                    <span class="user-name">{{ message['username'] }}</span>
                </div>
                <div class="tweet-content">
                    <p class="tweet-text">{{ message['text'] }}</p>
                    <p class="created-at">Created at: {{ message['created_at'] }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div>
        {% if page_num > 1 %}
            <a href="?page={{ page_num - 1 }}" class="submit">Previous</a>
        {% endif %}
        
        Page {{ page_num }}
        
        {% if messages|length == 20 %}
            <a href="?page={{ page_num + 1 }}" class="submit">Next</a>
        {% endif %}
    </div>
{% endblock %}

